<h1>Please enter email address</h1>

<form action="/users/recover" method="post">
  Email: <input name="email" type="text" placeholder="Email">
   		 <input type="submit" value="Reset" class="button form">
</form>