<h1>Sup!, please set a new password </h1>

<form method="post" action="/users/set_new_password">
  Password: <input type="password" name='new password'>
  Password_confirmation: <input name="password_confirmation" type="password">
  <input type="hidden" name='token' value="<%= @token %>">
  
  <input type="submit" value="New password">